.mockdata-detail {
  .header {
    font-weight : bold;
  }

  .section {
    border-top  : 1px solid #D5D5D5;
    margin-top  : 2px;
    padding-top : 2px;
  }

  .request-tab {
    padding : 5px;
  }

  .request-item {
    margin-left : 15px;
  }
}
